---
import ContactForm from "@/components/contact/ContactForm.astro";
import Map from "@/components/contact/Map.astro";
import Layout from "@/layouts/Layout.astro";

import { ContactWPSchema } from "@/types";

// export const prerender = true;

const url = `${import.meta.env.API_WP_URL}/pages?slug=contacto`;
const response = await fetch(url);
const json = await response.json();
const data = ContactWPSchema.parse(json[0]);

const { title, content, acf, featured_image_url } = data;
const { location } = acf;
---

<Layout
  title={title.rendered}
  subtitle={acf.subtitle}
  bgImage={featured_image_url}
>
  <div set:html={content.rendered} class="space-y-3 mt-10 md:mt-0" />

  <div class="grid grid-cols-1 md:grid-cols-2 gap-5 mt-10">
    <ContactForm />
    <Map
      lat={location.lat}
      lng={location.lng}
      zoom={location.zoom}
      address={location.address}
    />
  </div>
</Layout>
