---
export const prerender = true;

import { Picture, inferRemoteSize } from "astro:assets";

import Layout from "@/layouts/Layout.astro";
import ProductsMenu from "@/components/menu/ProductsMenu.astro";

import { BaseWPSchema } from "@/types";

const url = `${import.meta.env.API_WP_URL}/pages?slug=menu`;
const response = await fetch(url);
const json = await response.json();
const data = BaseWPSchema.parse(json[0]);

const { title, content, acf, featured_image_url } = data;
const { width, height } = await inferRemoteSize(featured_image_url);
---

<Layout
  title={title.rendered}
  subtitle={acf.subtitle}
  bgImage={featured_image_url}
>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
    <Picture
      src={featured_image_url}
      alt={`Imagen de ${title.rendered}`}
      width={width}
      height={height}
      formats={["webp", "avif"]}
    />
    <div set:html={content.rendered} class="space-y-3 mt-10 md:mt-0" />
  </div>

  <ProductsMenu slot="after-main-content" />
</Layout>
