---
import type { Post } from '@/types';
import { Picture, inferRemoteSize } from 'astro:assets';
import PostMeta from './PostMeta.astro';

interface Props {
  post: Post;
}
const { post } = Astro.props;
const { title, slug, excerpt, featured_image_url, date, category_list } = post;
const { width, height } = await inferRemoteSize(featured_image_url);
console.log(date, category_list);
---

<article
  class='grid grid-cols-1 md:grid-cols-3 gap-5 py-10 border-b last:border-b-0 border-zinc-300'
>
  <div class='md:col-span-2 space-y-3'>
    <h3 class='text-coffee-900 font-black text-2xl uppercase'>
      <a href={`/blog/${slug}`}>
        {title.rendered}
      </a>
    </h3>
    <PostMeta date={date} category_list={category_list} />
    <div set:html={excerpt.rendered} />
  </div>
  <Picture
    src={featured_image_url}
    alt={`Imagen de ${title.rendered}`}
    width={width}
    height={height}
    formats={['webp', 'avif']}
    class='w-full lg:w-96 h-64 object-cover rounded-2xl'
  />
</article>
